<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajout d'une Tache</title>
    <link rel="stylesheet" href="/CSS/taskStyle.css">
</head>
<body>
    <div class="banner">
        <h1>Ajout d'une Tache</h1>
    </div>
    <form th:object="${task}" th:action="@{/task/create}" method="post">
        <div class="group">
            <input type="text" th:field="*{title}" required/>
            <span class="highlight"></span>
            <span class="bar"></span>
            <span th:if="${#fields.hasErrors('title')}" th:errors="${task.title}" style="color: red"></span>
            <label>Titre</label>
        </div>
        <div class="group">
            <input type="text" th:field="*{description}"/>
            <span class="highlight"></span>
            <span class="bar"></span>
            <span th:if="${#fields.hasErrors('description')}" th:errors="${task.description}" style="color: red"></span>
            <label>Description</label>
        </div>
        <div class="group">
            <select th:field="*{categoryId}">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div id="conteneurBtn">
            <button type="submit" class="custom-btn" id="submit">Ajouter</button>
        </div>
    </form>

</body>
</html>