<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajout d'une Tache</title>
<th:block th:replace="~{fragments/fragments :: CSS}"></th:block>
    <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
</head>
<body>
<th:block th:replace="~{fragments/fragments :: header}"></th:block>
    <form th:object="${task}" th:action="@{/task/create}" method="post">
        <div class="group">
            <label for="title">Titre</label>
            <input type="text" th:field="*{title}" required id="title"/>
            <span th:if="${#fields.hasErrors('title')}" th:errors="${task.title}" style="color: red"></span>
        </div>
        <div class="group">
            <label for="description">Description</label>
            <textarea th:field="*{description}" id="description"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="${task.description}" style="color: red"></span>
        </div>
        <div class="styled-select blue semi-square ">
            <label for="category">Catégorie</label>
            <select th:field="*{categoryId}" id="category">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div id="conteneurBtn">
            <button type="submit" class="custom-btn" id="submit">Ajouter</button>
        </div>
    </form>

</body>
</html>