<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détail</title>
    <th:block th:replace="~{/fragments/fragments :: CSS}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/fragments :: header}"></th:block>
<h1 th:text="${tache.title}"></h1>
<h2 th:text="${tache.category}"></h2>
<h3>Description</h3>
<p th:text="${tache.description}"></p>
<h3>Date de création</h3>
<p th:text="${tache.dateStarted}"></p>
<h3>Date de fin</h3>
<p th:text="${tache.dateFinished}"></p>
</body>
</html>