<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" name="viewport">
  <title>acceuil</title>
  <th:block th:replace="~{fragments/fragments :: CSS}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/fragments :: header}"></th:block>
<table class="table zebre">
  <thead>
  <tr>
    <th><a href="/task">#</a></th>
    <th><a href="/task/filterNoneOrderByTitleAsc">Titre</a></th>
    <th>Catégorie</th>
    <th>date début</th>
    <th>date de fin</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:class="${task.finished} ? 'finished' : 'unfinished'" th:each="task : ${allOrderByTitleDesc}" >
    <td th:text="${task.id}"/>
    <td th:text="${task.title}"/>
    <td th:text="${task.category}"></td>
    <td th:text="${task.dateStarted}"></td>
    <td th:text="${task.dateFinished}"></td>
    <td>
      <a th:if="${not task.finished}" th:href="@{/task/finished/{id}(id = ${task.id})}">Finie</a>
    </td>
  </tr>
  </tbody>
</table>
<div class="conteneurBtn">
  <a th:href="@{/task/filterUnfinished}" class="custom-btn">Afficher les tâches non terminées</a>
  <a th:href="@{/task/filterFinished}" class="custom-btn">Afficher les tâches terminées</a>
  <a th:href="@{/task/deleteAllFinished}" class="custom-btn">Effacer les tâches supprimées</a>
  <a th:href="@{/task/create}" class="custom-btn">Ajouter une tâche</a>
</div>
</body>
</html>