<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>taches terminées</title>
    <link rel="stylesheet" href="/CSS/taskStyle.css">
</head>
<body>
    <div class="banner">
        <h1>Tâches terminées</h1>
    </div>
    <table class="table zebre">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>date début</th>
                <th>date de fin</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${taskFinishedList}" class="finished">
                <td th:text="${task.id}"/>
                <td th:text="${task.title}"/>
                <td th:text="${task.dateStarted}"></td>
                <td th:text="${task.dateFinished}"></td>
                <td>
                    <a th:href="@{/task/finished/{id}(id = ${task.id})}">Finie</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="menu">
        <a th:href="@{/task}" class="custom-btn">Afficher toute les taches</a>
        <a th:href="@{/task/filterUnfinished}" class="custom-btn">Afficher les tâches non terminées</a>
        <a th:href="@{/task/deleteAllFinished}" class="custom-btn">Effacer les tâches supprimées</a>
    </div>
</body>
</html>