<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>taches terminées</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Terminée?</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${taskFinishedList}">
                <td th:text="${task.id}"/>
                <td th:text="${task.title}"/>
                <td th:text="${task.finished}"/>
                <td>
                    <a th:href="@{/task/finished/{id}(id = ${task.id})}">Finie</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/task}">retour</a>
    <a th:href="@{/task/filterUnfinished}">Afficher les tâches non terminées</a>
</body>
</html>