<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taches non finies</title>
    <link rel="stylesheet" href="/CSS/taskStyle.css">
</head>
<body>
    <div class="banner">
        <h1>Tâches non-terminées</h1>
    </div>
    <table class="table zebre">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>date début</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${taskUnfinishedList}" class="unfinished">
                <td th:text="${task.id}"/>
                <td th:text="${task.title}"/>
                <td th:text="${task.dateStarted}"></td>
                <td>
                    <a th:href="@{/task/finished/{id}(id = ${task.id})}">Finie</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="menu">
        <a th:href="@{/task}" class="custom-btn">Afficher toutes les taches</a>
        <a th:href="@{/task/filterFinished}" class="custom-btn">Afficher les tâches terminées</a>
    </div>
</body>
</html>