<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <th:block th:replace="~{fragments/fragments :: CSS}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/fragments :: header}"></th:block>
    <form th:object="${user}" th:action="@{/user/registration}" method="post">
        <div class="group">
            <label for="firstName">Prénom :</label>
            <input type="text" th:field="*{firstName}" id="firstName"/>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="${user.firstName}" style="color: red"></span>
        </div>
        <div class="group">
            <label for="lastName">Nom :</label>
            <input type="text" th:field="*{lastName}" id="lastName"/>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="${user.lastName}" style="color: red"></span>
        </div>
        <div class="group">
            <label for="login">Nom d'utilisateur :</label>
            <input type="text" th:field="*{login}" id="login"/>
            <span th:if="${#fields.hasErrors('login')}" th:errors="${user.login}" style="color: red"></span>

        </div>
        <div class="group">
            <label for="password">Mot de passe :</label>
            <input type="password" th:field="*{password}" id="password"/>
            <span th:if="${#fields.hasErrors('password')}" th:errors="${user.password}" style="color: red"></span>

        </div>
        <div class="group">
            <label for="dob">Date de naissance : </label>
            <input type="date" th:field="*{dateOfBirth}" id="dob"/>
            <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="${user.dateOfBirth}" style="color: red"></span>

        </div>
        <div id="conteneurBtn">
            <button type="submit" class="custom-btn" id="submit">Ajouter</button>
        </div>
    </form>
</body>
</html>