<th:block th:fragment="CSS">
    <link rel="stylesheet" href="/CSS/global.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
</th:block>


<th:block th:fragment="header">
    <header>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
                <div class="nav-title">
                    Todo List
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="nav-links">
                <a href="/task">ToDo List</a>
                <a href="user/registration">Enregistrement</a>
                <a href="category/create">Nouvelle Catégorie</a>
            </div>
        </div>
    </header>
</th:block>