.table{
    width: 90vw;
    table-layout: fixed;
    border-collapse: collapse;
}

.table caption{
    font-size: 1.4rem;
    color: #ffffff;
    background-color: #5d625c;
}
.table th {
    background-color:#999690;
    color:#fff;
}
.table tfoot td {
    color:#fff;
    background-color:#999690;
    border-top:1px solid #5d625c;
    border-bottom:1px solid #5d625c;
}
.zebre tbody tr:nth-child(odd) + .finished{
    background-color: chartreuse;
    border-bottom:1px solid #ccc;
    color:#444;
}
.zebre tbody tr:nth-child(even) + .finished {
    background-color: #b8f37d;
    border-bottom:1px solid #ccc;
    color:#444;
}
.zebre tbody tr:nth-child(odd) + .unfinished{
    background-color: #ff4a4a;
    border-bottom:1px solid #ccc;
    color:#444;
}
.zebre tbody tr:nth-child(even) + .unfinished{
    background-color: #ff9292;
    border-bottom:1px solid #ccc;
    color:#444;
}
.zebre tbody tr:hover:nth-child(odd) {
    background-color: #999690;
    color:#ffffff;
}
.zebre tbody tr:hover:nth-child(even) {
    background-color: #999690;
    color:#ffffff;
}
.tableau td:nth-child(2) {
    text-align:right;
}
.tableau td:nth-child(3) {
    text-align:right;
}

h1{
    color: crimson;
}
*{
    margin: 0;
    padding: 0;
}
.banner{
    background-color: midnightblue;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}