<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creation de categorie</title>
<th:block th:replace="~{fragments/fragments :: CSS}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/fragments :: header}"></th:block>
    <form th:object="${category}" th:action="@{/category/create}" method="post">
        <div class="group">
            <label for="name">Nom</label>
            <input type="text" th:field="*{name}" id="name"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="${category.name}" style="color: red"></span>

        </div>
        <div class="select-box">
            <label for="propriétaire">Utilisateur</label>
            <select th:field="*{id}" id="propriétaire">
                <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.firstName + ' ' + user.lastName}"></option>
            </select>

        </div>
        <div id="conteneurBtn">
            <button type="submit" class="custom-btn" id="submit">Ajouter</button>
        </div>
    </form>
</body>
</html>